* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  color: #fff;
  font-family: 'Roboto',sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  height: 8rem;
  background-color: rgb(152, 152, 152);
}

.nav-list a,
.search {
  color: rgb(255, 255, 255);
}


.logo {
  width: 13%;
  margin: auto 10px;
  height: 90%;
  background-color: rgb(168, 168, 168);
}

.nav-list {
  display: flex;
}

.nav-list li {
  margin: auto 20px;
}

.button {
  width: 8%;
  margin: auto 10px;
  height: 40%;
  box-sizing: border-box;
  background-color: rgb(168, 168, 168);
  text-align: center;
}

.button .search {
  height: 40px;
  line-height: 40px;
}

.main {
  margin-bottom: 40px;
}

.title {
  font-family:'Roboto',sans-serif;
  text-align: center;
}

.caption p {
  font-style: italic;
}

.latest-post {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(169, 169, 169);
}

.post {
  width: 33.33333333%;
  height: 580px;
  background-color: rgb(169, 169, 169);
  padding: 2%;
  box-sizing: border-box;
}

.post .time {
  display: inline;
  font-size: .8em;
  background-color: rgb(184, 184, 184);
}

.post .header {
  background-color: rgb(102, 102, 102);
  margin-top: 5.33%;
  margin-bottom: 5%;
}

.post .author {
  display: inline;
  background-color: rgb(192, 192, 192);
}

.post .content {
  font-size: 1.5em;
  padding-right: 8px;
  background-color: rgb(132, 132, 132);
  margin-top: 5.33%;
}