* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.nav {
  display: inline-block;
  height: 8rem;
  background-color: rgb(152, 152, 152);
  width: 100%;
}

.logo {
  width: 13%;
  margin: auto 10px;
  height: 90%;
  box-sizing: border-box;
  background-color: rgb(168, 168, 168);
}

.nav ul {
  margin-left: 250px;
}

.nav ul li {
  float: left;
  margin-left: 30px;
  margin-top: -44px;
  text-align: center;
  background-color: rgb(109, 106, 106);
}

.search {
  float: right;
  margin-right: 100px;
  margin-top: -70px;
  color: #fff;
  background-color: rgb(109, 106, 106);
} 

.title {
  font-family:' Mija';
}

.caption p {
  font-style: italic;
}

.section1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.div1 {
  background-color: #787775;
  height: 600px;
}

.div2 {
  background-color: #807d7a;
  height: 600px;
}

.div3 {
  background-color: #575451;
  height: 600px;
}

.div4 {
  background-color: #877d73;
  height: 600px;
}

h3 {
  margin-left: 600px;
  position: absolute;
  background-color: white;
  text-align: center;
  margin-top: 20px;
}

h4 {
  margin-left: 655px;
  position: absolute;
  background-color: white;
  text-align: center;
  margin-top: 40px;
}

h3 {
  float: right;
  margin-top: 20px;
}

h1 {
  background-color: #adaca8;
  margin-top: 90px;
  width: 250px;
  margin-left: 70px;
}

.div1 p {
  margin-left: 70px;
  font-size: 40px;
  padding-right: 70px;
  margin-top: 30px;
  background-color: #363534;
  width: 350px;
  color: white;
}

.div1 ul li h1 {
  display: inline-block;
  font-size: 15px;
  width: 100px;
  margin-left: 70px;
  color: white;
}

.div2 p {
  margin-left: 70px;
  font-size: 40px;
  padding-right: 70px;
  margin-top: 30px;
  background-color: #363534;
  width: 350px;
  color: white;
}

.div2 ul li h1 {
  display: inline-block;
  font-size: 15px;
  width: 100px;
  margin-left: 70px;
  color: white;
}

.div3 p {
  margin-left: 70px;
  font-size: 40px;
  padding-right: 70px;
  margin-top: 30px;
  background-color: #363534;
  width: 350px;
  color: white;
}

.div3 ul li h1 {
  display: inline-block;
  font-size: 15px;
  width: 100px;
  margin-left: 70px;
  color: white;
}

.div4 p {
  margin-left: 70px;
  font-size: 40px;
  padding-right: 70px;
  margin-top: 30px;
  background-color: #363534;
  width: 350px;
  color: white;
}

.div4 ul li h1 {
  display: inline-block;
  font-size: 15px;
  width: 100px;
  margin-left: 70px;
  color: white;
}

.div5 {
  height: 600px;
  background-color: #363331;
  display: grid;
  grid-template-columns: 2fr 3fr
}

.banner {
  background-color: #141413;
  margin-top: 40px;
  margin-right: 30px;
  height: 500px;
  border-radius: 10px;
  text-align: center;
  float: right;
}

.banner h2 {
  margin-left: 250px;
  width: 300px;
  margin-top: 160px;
  color: white;
}

.banner p {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  background-color: #323331;
  width: 400px;
  margin-left: 210px;
  margin-top: 30px;
  color: white;
}

.div5 h1 {
  margin-top: 50px;
  margin-left: 290px;
}

.banner1 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 70px;
}

.banner1 h2 {
  background-color: #adaca8;
  height: 30px;
  width: 250px;
}

.banner1 p {
  background-color: #141413;
  height: 250px;
  margin-top: 30px;
  border-radius: 10px;
}

.div6 {
  background-color: #363331;
}

.div6 h2 {
  color: white;
  font-size: 30px;
  background-color: #adaca8;
  text-align: center;
  margin-left: 400px;
  width: 600px;
  margin-top: 10px;
}

.div6 p {
  color: white;
  width: 400px;
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  background-color: #141413;
  margin-left:500px;

}

.div6 h1 {
  width: 350px;
  height: 40px;
  margin-left: 530px;
  background-color: #adaca8;
}

.div6 img {
  width: 300px;
  height: 300px;
  margin-left: 560px;
  margin-top: 40px;
}

.div7 {
  display: grid;
  grid-template-columns: 2fr 3fr;
 
  background-color: #787775;
}

.div7 h2 {
  height: 400px;
  background-color: #141413;
  width: 300px;
  margin-top: 10px;
  margin: 20px;
  color: white;
  
}

.div7 p {
  background-color: #141413;
  height: 400px;
  margin-top: 10px;
  margin: 20px;
  width: 900px;
  font-size: 30px;
  padding: 20px;
  color: white;
}

.div8{
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 3fr 3fr 3fr;
  height: 900px;
  background-color: #897872;
}

.div8 h2 {
  background-color: #141413;
  width: 250px;
  margin-left: 200px;
  margin-top: 20px;
  color: white;
}

.div8 h1 {
  background-color: #adaca8;
  margin-top: 10px;
  margin-left: 200px;
  color: white;
}

.div8 p {
  background-color: #363534;
  margin-left: 200px;
  margin-top: 40px;
  width: 350px;
  font-size: 25px;
  color: white;
}

.div8 img {
  height: 80px;
  width: 80px;
  margin-top: -265px;
  margin-left: 30px;
  background-color: grey;
  float: left;
}

.div9 {
  background-color: #141413;
  height: 400px;
}

.div9 h2 {
  margin-left: 210px;
  width: 300px;
  color: white;
  padding-top: 30px;
  width: 300px;
}

.div9 p {
  padding-top: 20px;
  background-color: #323331;
  width: 700px;
  margin-left: 210px;
  margin-top: 30px;
  color: white;
  font-size: 25px;
}

.div9 h1 {
  margin-top: 50px;
  margin-left: 210px;
}
